<div class="min-h-screen flex flex-col items-center justify-center bg-indigo-600">
  <div class="flex">
    <img src="assets/angular.svg" class="object-contain max-w-xs" style="max-width: 100px;" />
    <img src="assets/firebase.svg" class="object-contain max-w-xs" style="max-width: 100px;"/>
  </div>
  <ng-container *ngIf="user$ | async as user; else DOM">
    <div class="flex flex-col items-center bg-white p-3 rounded-lg">
      <p class="font-bold uppercase mb-2">User: <span class="font-normal">{{ user.email }}</span></p>
      <button class="bg-indigo-600 p-3 text-white uppercase hover:bg-indigo-700 cursor-pointer transition-all rounded-lg" (click)="onSignOut()">Sign Out</button>
    </div>
  </ng-container>
  <ng-template #DOM>
    <div class="flex flex-col items-center">
      <form class="bg-white shadow-md rounded-lg py-10 px-5 mb-10" [formGroup]="form" (ngSubmit)="onRegister()">
        <input type="email" name="email" id="email" placeholder="email@email.com" formControlName="email" class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md">
        <input type="password" name="password" id="password" formControlName="password" class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md">
        <button type="submit" class="bg-indigo-600 p-3 text-white uppercase hover:bg-indigo-700 cursor-pointer transition-all rounded-lg w-full mt-3">SignUp</button>
      </form>
      <form class="bg-white shadow-md rounded-lg py-10 px-5 mb-10" [formGroup]="form" (ngSubmit)="onLogin()">
        <input type="email" name="email" id="email" placeholder="email@email.com" formControlName="email" class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md">
        <input type="password" name="password" id="password" formControlName="password" class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md">
        <button type="submit" class="bg-indigo-600 p-3 text-white uppercase hover:bg-indigo-700 cursor-pointer transition-all rounded-lg w-full mt-3">SignIn</button>
      </form>
    </div>
  </ng-template>
</div>